@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
}

p , a {
    color: black;
    font-weight: 400;
}

/* HEADER */
#site-header {
    height: 80px;
}

#site-header > div {
    max-width: 1440px;
}

/* Masquage des titres de page */
.entry-header {
    display: none;
}

/* Modif taille logo */
.header-titles img {
    width: 201px;
}

#site-header > div {
height: 80px;
}

/* Modif Menu */
li.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nous-recontrer {
    width: 200px;
    height: 80px;
}

.nous-rencontrer > a {
    color: black !important;
    font-weight: 400;
    font-size: 16px;
}
.commander {
    background-color: #DC9F96;
    width: 236px;
    height: 80px;
}

.commander > a {
    color: white !important;
    font-weight: 700;
    font-size: 16px;
}

/* FOOTER */
/* Modif hauteur footer*/
#site-footer {
    height: 60px;
}

/* Modif Menu*/
.mentions-legales > a {
    color: black;
    font-weight: 400;
    font-size: 16px;
}

/* Masquage du widget de footer */
body > div.footer-nav-widgets-wrapper.header-footer-group {
    display: none;
}

/* ARRONDIS FONDS BEIGE */
.fond-beige {
    border-radius: 0% 0% 80% 80% / 0% 0% 10% 10% !important;
}

/* ACCUEIL */
/*Superposer la canette sur les feuilles*/
#post-8 > div.post-inner > div > div > div.wp-block-columns.alignwide.is-layout-flex.wp-container-core-columns-is-layout-1.wp-block-columns-is-layout-flex {
    position: relative;
    width: 100%;
    /*max-width: 600px;*/
    margin: 0 auto;
}

#post-8 > div.post-inner > div > div > div.wp-block-columns.alignwide.is-layout-flex.wp-container-core-columns-is-layout-1.wp-block-columns-is-layout-flex > img {
    width: 100%;
    height: auto;
}

.feuilleg {
    position: absolute;
    transform: translate(78%, 32%);
    scale : 1.1;
    z-index: 2;
}

.feuilled {
    position: absolute;
    transform: translate(-61%, 32%);
    scale: 1.1;
    z-index: 2;    
}

.canette {
    position: relative;
    z-index: 3;
}